.theme-default-content code{
    color :#1890ff;
}
.suggestions{
    right:0;
}
.sidebar-heading.open > span{
color:#333 !important;

}
.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable){
    opacity:1;
}